<nav class="navbar navbar-expand-sm navbar-custom">
    <a class="navbar-brand" href="#">BR RPA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav_item">
          <a class="nav-link" href="/">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/submit/Extend_Demands">Extend Demands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/submit/Pop_Mailers">Pop Mailers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/submit/Edit_Seats">Edit Seats</a>
        </li>

    </div>
  </nav>