{% extends 'layout.html'%} {% block body%}
<div class="text-center">
    <br><br>
    <h1> {{process}} </h1>
    <p class="lead">Here you can submit your files to {{process}} Robots</p>
    <section class="uploader" id="uploader">
            <form action = "http://localhost:5000/uploader" method = "POST" enctype=multipart/form-data>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" name="upload" class="custom-file-input" id="inputGroup" multiple/>
                    <label class="custom-file-label" for="inputGroup" required="true">Choose file</label>
                </div>
                <div class="input-group-append">
                    <input class="btn btn-primary sub" type="submit" value="Upload" disabled="true" id="btn">
                </div>
            </div>
            <script>
                $('#inputGroup').on('change', function () {
                    //get the file name
                    var fileName = $(this).val().replace("C:\\fakepath\\", "");
                    var n = fileName.includes("xls")
                    if ($(this).val() == "" || $(this).val() == "Choose file" || true != n) {
                        alert("please, upload a XLS or XLSX file.");
                    } else {
                        document.getElementById("btn").disabled = false;
                        $(this).next('.custom-file-label').html(fileName);
                    }
                })
            </script>
        </form>
        <br>
        <br>
        {% if fileList %}
        <h1>To Process Queue</h1>
        <ol class="list-group">
            
                {% for file in fileList %}
                    <li class= "list-group-item"><a href="#">{{file}}</a></li>
                {% endfor %}
            
        </ol>
        {% else %}

        <h1>No files on queue</h1>

        {% endif %}
        

    </section>
</div>

{% endblock %}